<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="<%= htmlWebpackPlugin.options.lux_prefix %>lib/config.js"></script>
    <script src="<%= htmlWebpackPlugin.options.lux_prefix %>lib/fetch.js"></script>
    <script src="<%= htmlWebpackPlugin.options.lux_prefix %>lib/es6-promise.auto.js"></script>
    <script src="<%= htmlWebpackPlugin.options.lux_prefix %>lux.js"></script>
    <script src="<%= htmlWebpackPlugin.options.lux_prefix %>lib/react.js"></script>
    <script src="<%= htmlWebpackPlugin.options.lux_prefix %>lib/react-dom.js"></script>
    <script src="<%= htmlWebpackPlugin.options.lux_prefix %>lib/mobx3.1.9.js"></script>
    <script src="<%= htmlWebpackPlugin.options.lux_prefix %>lib/mobx-react4.1.8.js"></script>
    <script src="<%= htmlWebpackPlugin.options.lux_prefix %>lib/jspdf.min.js"></script>
    <script src="<%= htmlWebpackPlugin.options.lux_prefix %>lib/html2canvas.min.js"></script>
</head>

<body>
    <div id="react-no-print">
        <div id="bodycontext" class='window-content'></div>
    </div>
    <div id="print-mount"></div>
</body>

</html>