<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>找智造-协同制造</title>
    <script src="<%= htmlWebpackPlugin.options.lux_prefix %>lib/config.js"></script>
    <script src="<%= htmlWebpackPlugin.options.lux_prefix %>lib/fetch.js"></script>
    <script src="<%= htmlWebpackPlugin.options.lux_prefix %>lib/es6-promise.auto.js"></script>
    <script src="<%= htmlWebpackPlugin.options.lux_prefix %>lux.js"></script>
    <script src="<%= htmlWebpackPlugin.options.lux_prefix %>lib/react.js"></script>
    <script src="<%= htmlWebpackPlugin.options.lux_prefix %>lib/react-dom.js"></script>
    <script src="<%= htmlWebpackPlugin.options.lux_prefix %>lib/redux.min.js"></script>
    <script src="<%= htmlWebpackPlugin.options.lux_prefix %>lib/react-redux.min.js"></script>
    <script src="<%= htmlWebpackPlugin.options.lux_prefix %>lib/mobx3.1.9.js"></script>
    <script src="<%= htmlWebpackPlugin.options.lux_prefix %>lib/mobx-react4.1.8.js"></script>
    <link rel="shorticon icon" type="image/x-icon" href="<%= htmlWebpackPlugin.options.lux_prefix %>img/favicon.ico"/>
</head>

<script type="text/javascript">
    window.htmlWebpackPlugin = "<%= htmlWebpackPlugin.options.filename %>" ;
</script>
<body>

    <div id="bodycontext" class='window-content'></div>
</body>

</html>