$pagination-prefix-cls: "#{$ant-prefix}-pagination";

.#{$pagination-prefix-cls} {
    &-item,
    &-prev,
    &-next {
        border-radius: $border-radius-circle;
    }
    &-options {
        .#{$ant-prefix}-select-selection{
            border-radius: $border-radius-circle;
        }
    }
    &-item{
        &:hover {
            border-color: $primary-color;
            a {
                color: $primary-color;
            }
        }
        &-active {
            background-color: $primary-color;
            border-color: $primary-color;
            a,
            &:hover a {
                color: #fff;
            }
        }



    }

    .#{$pagination-prefix-cls}-item-link{
        border-radius: $border-radius-circle;
    }

}