.addPurchasePrice-cont{
    a:focus {
        text-decoration: none;
    }
    .addPurchasePrice-title{
        position: relative;
        margin-top: 12px;
        .form-showOrhide{
            display: block;
            width: 100px;
            height: 20px;
            text-align: center;
            color: #999;
            font-size: 12px;
            border: 1px solid #e2e2e2;
            border-radius: 10px;
            position: absolute;
            bottom: -10%;
            left: 50%;
            background: #fff;
            z-index: 10;
        }
        .saveBtn{
            width: 72px;
            height: 30px;
            padding: 0;
            background: #4C80CF;
            border-color: #4C80CF;
            .c2m-baocun{
                font-size: 10px;
                margin-right: 6px;
            }
        }
    }
    .priceItemTitle{
        line-height: 48px;
        font-size: 14px;
        color: #4a4a4a;
        font-weight: bold;
    }
    .addPurchasePrice-form{
        border: 1px solid #e2e2e2;
        border-top: 0;
        padding: 0px 20px 0px;
        overflow: hidden;
        position: relative;
        .detail-showOrhide{
            font-size: 12px;
            color: #4990E2;
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        
    }
    .addPurchasePrice-remark{
        border: 1px solid #e2e2e2;
        border-top: 0;
        padding: 0px 20px 0;
        .ant-col-16{
            border-right: 1px solid #e2e2e2;
            padding-top: 20px;
        }
        .ant-col-8{
            padding-top: 20px;
        }
        .ant-form-item{
            margin-bottom: 20px;
        }
    }
}
.purPriceDetail-table{
    .ant-table-thead > tr > th.textAlignCenter{
        padding-right: 10px;
    }
    .ant-table-thead > tr, .ant-table-tbody > tr{
        th{
            line-height: 19px;
        }
        td{
            line-height: 19px;
        }
        .textAlignCenter{
            text-align: center
        }
        .firstColCenter{
            text-align: center;
            padding-left: 0;
        }
    }
    
}
.purPrice-material-dialog{
    .materailform-item-text{
        margin-bottom: 10px;
    }
    .ant-col-13 .ant-form-item-label{
        width: 100px;
    }
    .table-tooltip{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
    }
    .material-unitName{
        // position: absolute;
        // top: 0;
        // right: 1px;
        // min-width: 50px;
        // z-index: 4;
        .ant-select-selection{
            border: 0;
            color: #4a79c0;
            user-select: none;
        }
        .ant-select-selection:focus{
            border-color:none;
            box-shadow:none;
        }
    }
}
.addPurPriceMaterial{
    .ant-modal-body{
        padding: 20px 20px 0;
    }
}