.ew-layout-content {
    .ew-tabs {
        .ant-tabs-nav {
            margin-left: 0;
        }
        .ant-tabs {
            overflow: visible;
            .ant-tabs-content {
                .ant-tabs-tabpane {
                    .Bussiness-PartnerComp {
                        .Business-Title {
                            //height: 80px;
                            margin-top: 12px;
                            border: 1px solid #E2E2E2;
                            position: relative;
                            h4 {
                                padding-bottom: 5px;
                                font-size: 14px;
                                color: #4A4A4A;
                            }
                            .form-showOrhide{
                                display: block;
                                width: 100px;
                                height: 20px;
                                text-align: center;
                                color: #999;
                                font-size: 12px;
                                border: 1px solid #e2e2e2;
                                border-radius: 10px;
                                position: absolute;
                                bottom: -10%;
                                left: 50%;
                                background: #fff;
                                z-index: 10;
                            }
                            .editBtn{
                                width: 72px;
                                height: 30px;
                                padding: 0;
                                background: #4C80CF;
                                border-color: #4C80CF;
                                .c2m-bianji1{
                                    font-size: 10px;
                                    margin-right: 6px;
                                }
                            }
                        }
                        .business-table {
                            .ant-tabs-bar {
                                .ant-tabs-nav-container {
                                    overflow: visible;
                                    .ant-tabs-nav-wrap {
                                        overflow: visible;
                                        //background: #f1f1f1;
                                        .ant-tabs-nav-scroll {
                                            overflow: visible;
                                        }
                                    }
                                }
                            }
                            .ant-tabs-content {
                                .ant-tabs-tabpane {
                                    padding: 20px 0;
                                    background: #FFFFFF;
                                    .ant-table-wrapper {
                                        // border: 1px solid #e2e2e2;
                                        // border-radius: 1px;
                                    }
                                }
                            }
                            .ant-table-thead {
                                tr {
                                    .textAlignCenter{
                                        text-align: center;
                                    }
                                    .firstColCenter{
                                        text-align: center;
                                        padding-left: 0;
                                    }
                                    th {
                                        // text-align: center;
                                    }
                                }
                            }
                            .ant-table-tbody {
                                tr {
                                    .firstColCenter{
                                        text-align: center;
                                        padding-left: 0;
                                    }
                                }
                            }
                            // .ant-tabs-ink-bar{
                            //     height: 35px !important;
                            // }
                        }
                        .Bussiness-conventional {
                            background: #FFFFFF;
                            .business-conventionalBase {
                                border: 1px solid #e2e2e2;
                                border-top: 0;
                                margin-bottom: 20px;
                                .ant-row {
                                    .companyInfo-title{
                                        li{
                                            b{
                                                width: 70px;
                                            }
                                        }
                                    }
                                    ul{
                                        font-size: 12px;
                                        color: #676767;
                                        padding: 14px 0 20px 16px;
                                        li{
                                            line-height: 28px;
                                            overflow: hidden;
                                            b{
                                                color: #4b4b4b;
                                                width: 120px;
                                                text-align: right;
                                                font-weight: normal;
                                                float: left;
                                            }
                                            span{
                                                .table-tooltip{
                                                    float: left
                                                }
                                            }
                                        }
                                    }
                                    .conventional-right {
                                        color: #4a4a4a;
                                        font-size: 14px;
                                        font-weight: bold;
                                        span{
                                            padding-left: 10px;
                                            // float: none
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}