.ew-layout-content {
    .business-content {
        .business-head {
            line-height: 68px;
            border-bottom: 2px solid #e5e8ec;
            .ant-select {
                margin: 0 20px !important;
            }
            .ant-btn {
                float: right;
                margin-right: 20px;
                margin-top: 20px;
            }
        }
        .business-body {
            .ant-table-body{
                .operate-header{
                    text-align: center;
                    width: 120px;
                    .columns-distribute{
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}