.materialDetail-wrap{
  margin-bottom: 46px;
    .material-header {
        // padding: 12px 12px 0px 12px;
        margin-top: 12px;
        .material-head-border{
        border: 1px solid #e2e2e2;
        height: 60px;
        // line-height: 60px;
        // padding: 22px 20px 22px 16px;
      }
    }
      .material-header-title {
        margin-left: 16px;
        font-size: 14px;
        color: #4a4a4a;
        position: relative;
        top: 19px;
      }
      .default-btn {
        color: #fff;
        background-color: #4c80cf;
        border-color: #4c80cf;
      }
      .default-btn:hover{
        background: #fff;
        color: #108ee9;
      }
      .save {
        position: absolute;
        right: 20px;
        top: 20px;
      }
      .m-bianji {
        position: absolute;
        right: 100px;
        top: 20px;
      }
    .material-body-border{
      border-right: 1px solid #e2e2e2;
      border-left: 1px solid #e2e2e2;
      border-bottom: 1px solid #e2e2e2;
    }
    .material-baseInfo{
      // margin-bottom: 14px;
      height: 50px;
      line-height: 50px;
      font-size: 14px;
      color: #4a4a4a;
      padding-left: 15px;
      .material-form-baseInfo{
        margin-top: 0px;
        position: absolute;
      }
      .material-label{
        .ant-form-item-label label {
          color: rgba(0, 0, 0, 0.65);
      }
      .ant-form-item-label label:after {
        content: "";
        margin: 0 8px 0 2px;
        position: relative;
        top: -0.5px;
      }
    
      }
    }
    .material-line{
      width: 96%;
      height: 1px;
      background: #e2e2e2;
      margin-left: 2%;
      display: inline-block;
    }
    .material-lineJH{
      width: 98%;
      height: 1px;
      background: #e2e2e2;
      margin-left: 1%;
      display: inline-block;
    }
    .material-form-first .ant-form-item {
      font-size: 12px;
      margin-bottom: 0px;
      color: rgba(0, 0, 0, 0.65);
      vertical-align: top;
      /* margin-bottom: 12px; */
  }
  .material-bzq{
    width: 37%;
    display: inline-block;
  }
  .material-bzq-show{
    width: 50%;
    display: inline-block;
  }
    // .material-baseInfo-center{
    //   display: inline-block;
    //   width: 85%;
    //   // margin-top: 10px;
    //   // top: 10px;
    //   // position: relative;
    // }
    .material-body-top{
      border-bottom: 1px solid #e2e2e2;
      .show-more-info {
        position: relative;
        right: 12px;
        bottom: -13px;
        float: right;
      }
    }
    .material-head-left {
      display: inline-block;
      padding-top: 12px;
      padding-left: 16px;
    }
    .material-head-h1 {
      font-size: 14px;
      color:#4a4a4a;
      padding-bottom: 12px;
    }
    .material-head-h1, .material-head-h {
      display: block;  
    }
    .material-head-h{
      font-size: 12px;
      color:#999999;
      .material-head-strong-blue{
        padding-right: 5px;
      }
      .material-head-strong-blue{
        padding-right: 5px;
        font-size: 12px;
        color:#4c80cf;
      }
      .material-head-strong-red{
        padding-right: 5px;
        font-size: 12px;
        color:#f66666;
      }
    }
    .basetitle{
      font-size: 14px;
      display: inline-block;
      margin-bottom: 5px;
      margin-left: 20px;
      margin-top: 20px;
      font-weight: bold;
  }
  .Material-SmallTitle{
    width: 95%;
     height: 24px;
     font-size: 12px;
     margin: -6px 0px 10px 20px;
     span{
         color: #999999;
     }
     .qiyong{
         color: #417505;    
     }
     .baocun{
         color: #4C80CF;
     }
     .jinyong{
          color: #D0011B;
     }
  }
  .material-body-top-borderR{
    border-right: 1px solid #e2e2e2;
  }
  .material-body-down{
    border-bottom: 1px solid #e2e2e2;
  }
  .materialDetail-kc-btn{
      float: right;
  }
    .ant-form-item{
        font-size: 12px;
        margin-bottom: 0px;
        color: rgba(0, 0, 0, 0.65);
        vertical-align: top;
        margin-bottom: 12px
      }
      .ant-select{
        width: 100%;
        box-sizing: border-box;
        display: inline-block;
        position: relative;
        color: rgba(0, 0, 0, 0.65);
        font-size: 12px;
      }
      .ant-input-number-lg {
        padding: 0;
        width: 100%;
    }
    .material-fj{
      display: block;
      height: 25px;
      line-height: 25px;
      padding-left: 7%;
      padding-top: 5px;;
    }
    .material-fj-list{
      padding-left: 5%
    }
    .ant-upload-list {
      padding-left: 7%;
      padding-right: 40%;
      overflow: hidden;
      margin-top: 15px;
  }
  .material-fj-p{
    position: absolute;
    padding-top: 5px;
  }
  .material-fj-con{
    padding: 0 5px;
  }
  .col-right-poskc{
    position: relative;
    width: 30%;
    display: inline-block;
  }
 .input-right-pos {
    position: absolute;
    left: 100%;
    width: 50px;
    top: 2px;
 }
  .col-right-pos{
    position: relative;
    // width: 30%;
    // display: inline-block;
  }
//   .ant-row .col-right-pos .input-right-pos {
//     position: absolute;
//     left: 100%;
//     width: 50px;
//     top: 2px;
// }
/*.material-fj-con-b{
  padding-bottom: 15px;
}*/
.material-form-add{
  float: right;
  padding-right: 15px;
}
.material-uint .ant-form-item{
  font-size: 12px;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.65);
  vertical-align: top;
  margin-bottom: 12px;
  width: 60%;
 }
}