.new-sales-store-house{
  color: #4a4a4a;
  font-size: 12px;
  padding-top: 20px;
  .public-name{
    font-size: 14px;
    font-weight: normal;
    color: #4a4a4a;
  }
  .ant-form-item-control {
    line-height: inherit;
  }
  .top{
    color: #999;
    .row-first{
      padding: 17px 21px 27px 16px;
      border: 1px solid #e2e2e2;
      .save-btn{
        text-align: right;
        top: 10px;
        .save-body{
          margin-bottom: 0;
          .save{
            background-color: #4c80cf;
            color: #fff;
            border:none;
            font-size: 12px;
            .c2mfont{
              margin-right: 5px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  .Info{
    border:1px solid #e2e2e2;
    border-top: none;
    .row-second,.row-fourth{
      padding: 25px 16px 0px 16px;
      &.row-fourth{
        padding-bottom: 25px;
      }
      .head-source{
        display: inline-block;
        width: 65px;
        text-align: right;
        padding: 5px 0;
        .xing{
          color:#fe7a10;
        }
      }
      .form-itme{
        display: inline-block;
        margin-bottom: 0px;
        .input{
          width: 200px;
        }
      }
      .col-remark{
        display: flex;
        flex-direction: row;
        .form-itme{
          display: inline-block;
          margin-bottom: 0px;
          max-width: 92%;
          .input{
            width: 200px;
          }
          .textarea{
            min-width: 420px;
          }
        }
      }
    }
    .info-content{
      .row-third{
        .per-col{
          color: #4a4a4a;
          padding-top: 10px;
          &.per-col-source{
            display: flex;
            .per-title-source{
              flex-direction: row;
            }
            .per-content-source{
              flex: 1;
              padding-right: 25px;
            }
          }
          .per-title{
            display: inline-block;
            width: 72px;
            text-align: right;
            color: #999;
          }
        }
        .col-left{
          padding-left: 75px;
        }
      }
      .source-remark{
        padding: 15px 25px 0 87px;
        &.sales{
          padding-left: 20px;
        }
        .remark-title{
          position: relative;
          top: -5px;
        }
        .remark-content{
          display: inline-block;
          width: 870px;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
          color: #777;
        }
      }
    }
  }
  .table{
    .ant-table-thead > tr > th:first-child,
    .ant-table-tbody > tr > td:first-child,
    .ant-table-thead > tr > th:last-child,
    .ant-table-tbody > tr > td:last-child {
      padding-left: 0;
      text-align: center;
    }
    .public-name{
      padding-bottom: 11px;
      font-weight: normal;
    }
  }
}


.new-sales-store-search-dropdown {
  .ant-select-dropdown-menu-item-group-title {
    font-size:12px;
    color:#4b4b4b;
  }
  .ant-select-dropdown-menu-item {
    padding-left: 16px;
    font-size:12px;
    color:#69a1f7;
    border-bottom: 1px solid #e2e2e2;
  }
  .ant-select-dropdown-menu-item.show-all {
    text-align: center;
    cursor: default;
  }
}
.option-code,.option-name{
  font-size: 12px;
  color: #4b4b4b;
  &.option-code{
    padding-bottom: 16px;
  }
}