.purchase-return-outbound-details{
  color:#4a4a4a;
  padding-top: 20px;
  .public-title{
    font-size:14px;
    color:#4a4a4a;
    font-weight: normal;
  }
  .top{
    border:1px solid #e2e2e2;
    padding: 20px 18px 20px 14px;
    position: relative;
    .header{
      font-size:14px;
      color:#000000;
    }
    .content{
      font-size:12px;
      color:#999999;
      .status{
        margin-right: 20px;
        .line{
          color: #999;
        }
      }
    }
    .lay-top{
      position: absolute;
      bottom: -10px;
      left: 50%;
      border:1px solid #e2e2e2;
      border-radius:10px;
      width:98px;
      height:22px;
      background-color: #fff;
      text-align: center;
      padding: 2px 0;
      cursor: pointer;
    }
  }
  .info{
    .per-col{
      padding-top: 12px;
    }
    .info-first{
      font-size:12px;
      .row-first{
        border: 1px solid #e2e2e2;
        border-top: none;
        .col-left{
          padding: 24px 0 40px 16px;
          .first-per-name{
            display: inline-block;
            width: 75px;
            text-align: right;
            color:#999999;
          }
        }
        .col-center{
          padding: 24px 13px 40px 17px;
          border-left: 1px solid #e2e2e2;
          border-right: 1px solid #e2e2e2;
          .second-per-name{
            display: inline-block;
            width: 60px;
            text-align: right;
            color:#999999;
          }
        }
        .col-right{
          padding: 24px 13px 13px 17px;
          .third-per-name{
            display: inline-block;
            width: 60px;
            text-align: right;
            color:#999999;
          }
          .lay-aside{
            text-align: right;
            color:#4990e2;
            cursor: pointer;
            padding-top: 69px;
          }
        }
      }
      .row-second{
        border: 1px solid #e2e2e2;
        border-top: none;
        padding: 20px 16px;
        .info-remark{
          width: 100%;
          display: flex;
          .first-name{
            display: inline-block;
            flex-direction: row;
            width: 75px;
            text-align: right;
            color:#999999;
          }
          .remark-content{
            flex: 1;
          }
        }

      }
    }
  }
  .table{
    padding: 20px 0;
    .ant-table-thead > tr > th:first-child{
      padding-left: 0;
      text-align: center;
    }
    .ant-table-tbody > tr > td:first-child{
      padding-left: 0;
      text-align: center;
    }
    .list{
      padding-top: 12px;
      .number{
        color: #999999;
      }
    }
  }
  .remark{
    padding-bottom:20px;
    .content{
      .per-remark{
        padding-top: 10px;
        .time{
          padding-right: 10px;
          color:#999999;
        }
      }
    }
  }
}