.saleOrder-wrap{
  .saleOrder-form{
    .bom-baseInfo{
      margin-top: 30px;
      margin-bottom: 20px;
      .bom-baseInfo-icon{
        margin-left: 20px;
        margin-bottom: 30px;
        font-size: 10px;
        line-height: .9;
        border-left: 5px solid #fd7c28;
      }
      .bom-form-baseInfo{
        margin-left: 10px;
      }
    }
  }
 .saleOrder-add-table-wrap{
   .add-table {
  // padding: 20px 0;
 }
 .contactBtn{
   margin-left: 20px;
 }
 }
}
.add-table .ant-table-fixed-left { z-index: 100;}