$saleNoticeView: "saleNoticeView";
.#{$saleNoticeView}-wrap {
    .#{$saleNoticeView}-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        margin-top: 12px;
        border: solid 1px #e2e2e2;
        padding: 22px 10px 22px 18px;
        .title {
            .mtitle {
                font-size: 14px;
                color: #4a4a4a;
            }
            .stitle {
                font-size: 12px;
                color: #999999;
            }
        }
        .ant-btn {
            width: 72px;
            height: 30px;
        }
        .ant-btn-ghost {
            padding: 0;
            margin-left: 10px;
            .anticon {
                margin-left: 0;
            }
        }
        .show-more-info {
            display: block;
            width: 100px;
            height: 20px;
            line-height: 20px;
            padding: 0 10px;
            position: absolute;
            top: 70px;
            margin: auto;
            left: 0;
            right: 0;
            font-size: 12px;
            background: #ffffff;
            text-align: center;
            border: 1px solid #e2e2e2;
            border-radius: 10px;
            color: #999999;
            z-index: 1;
        }
    }
    .#{$saleNoticeView}-base-info {
        border-left: solid 1px #e2e2e2;
        border-right: solid 1px #e2e2e2;
        border-bottom: solid 1px #e2e2e2;
        .ant-col-8 {
            padding: 25px 0px 39px 53px;
            .info-title {
                font-size: 14px;
                color: #4a4a4a;
                padding-bottom: 16px;
            }
        }
        .show-more-info {
            position: absolute;
            right: 12px;
            bottom: 7px;
        }
        ul>li {
            min-height: 24px;
            line-height: 24px;
            span {
                color: #999999;
                text-align: right;
                display: inline-block;
            }
        }
        .colone {
            li>span {
                width: 72px;
            }
        }
        .coltwo {
            li>span {
                width: 72px;
            }
        }
        .colthree {
            li>span {
                width: 84px;
            }
        }
    }
    .#{$saleNoticeView}-other-info {
        padding: 20px 0 20px 74px;
        border-left: solid 1px #e2e2e2;
        border-right: solid 1px #e2e2e2;
        border-bottom: solid 1px #e2e2e2;
        ul>li {
            min-height: 24px;
            line-height: 24px;
            span {
                color: #999999;
                text-align: right;
                display: inline-block;
            }
        }
    }
    .#{$saleNoticeView}-detail-info {
        .ant-table-title {
            .tab-title {
                padding: 20px 0 18px 20px;
                .left-text {
                    font-size: 14px;
                    color: #4a4a4a
                }
            }
        }
    }
}