.saleOrder{
  .no-input-style {
    outline: none;
    border: 0;
    pointer-events: none;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.65);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .totalAmount{
    margin-top: -20px;
  }
}